<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo Web Application</title>
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Arima Madurai' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Battambang' rel='stylesheet'>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- angular.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body class="container-fluid bg-light">
    <div ng-app="myApp" ng-controller="todoCtrl" class="container-fluid bg-light">
        <div class="row">
            <div class="col bg-light" style="font-family: 'Battambang';">
                <h3 class="text-center shadow rounded text-warning border border-rounded border-gradient-secondary border-3 m-2 p-3">
                    ToDo Web Application</h3>
            </div>
        </div>
        <div class="row" style="font-family: 'Arima Madurai';">
            <form>
                <div class="container mt-4">
                    <div class="input-group mb-1 shadow">
                        <input type="text" class="form-control" ng-model="t1" placeholder="Enter your task here...">
                        <button class="btn btn-secondary" ng-click="add(t1)" type="submit">Add Task</button>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-around">
                <div class="col-10  border rounded border-gradient border-0.5 m-2">
                    <h4 class="text-center text-secondary pt-2">To Be Done:</h4>
                    <div class="container-fluid border border-gradient border-2 text-success">
                        <ol>
                            <li ng-repeat="x in todoList" class="pt-2"> {{x.task}}
                                <button class="btn btn-sm ml-4 btn-success" ng-click="markDone($index)"
                                    type="submit">Mark Done</button>
                                <hr>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-around">
                <div class="col-10  border rounded border-gradient border-0.5 m-2">
                    <h4 class="text-center text-secondary pt-2">Done:</h4>
                    <div class="container-fluid border border-gradient border-2 text-dark">
                        <ol>
                            <li ng-repeat="x in doneList" class="pt-2"> <s>{{x.task}}</s>
                                <button class="btn btn-sm ml-4 btn-danger" ng-click="deleteTask($index)"
                                    type="submit">Delete</button>
                                <hr>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var app = angular.module('myApp', []);
            app.controller('todoCtrl', function ($scope, $window) {
                $scope.todoList = [];
                $scope.doneList = [];

                $scope.add = function (task) {
                    if (typeof (task) == "undefined" || task == "" || task == null) {
                        $window.alert("Please enter a task");
                    } else {
                        try {
                            var storedTodoList = JSON.parse(localStorage.getItem('todoList')) || [];

                            var newTodoItem = {
                                id: storedTodoList.length + 1,
                                task: task
                            };

                            storedTodoList.push(newTodoItem);

                            localStorage.setItem('todoList', JSON.stringify(storedTodoList));
                            console.log('Todo item added successfully.');

                            $scope.todoList = storedTodoList;
                            $scope.t1 = '';
                        } catch (error) {
                            console.error('Error while adding todo item:', error);
                        }
                    }
                };

                $scope.markDone = function (index) {
                    var task = $scope.todoList[index];
                    $scope.doneList.push(task);
                    $scope.todoList.splice(index, 1);
                    updateLocalStorage();
                };

                $scope.deleteTask = function (index) {
                    $scope.doneList.splice(index, 1);
                    updateLocalStorage();
                };

                function updateLocalStorage() {
                    localStorage.setItem('todoList', JSON.stringify($scope.todoList));
                    localStorage.setItem('doneList', JSON.stringify($scope.doneList));
                }

                $scope.getItem = function () {
                    try {
                        var storedTodoList = JSON.parse(localStorage.getItem('todoList')) || [];
                        var storedDoneList = JSON.parse(localStorage.getItem('doneList')) || [];
                        $scope.todoList = storedTodoList;
                        $scope.doneList = storedDoneList;
                    } catch (error) {
                        console.error('Error retrieving the todoList:', error);
                    }
                };

                $scope.getItem();
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

</body>

</html>
